/*
 * This file is only for overriding Bootstrap 4 variables.
 * Please add any new variables to variables.scss
 */

$secondary: $gray-light;
$input-disabled-bg: $gray-light;
$input-border-color: $gray-400;
$input-color: $gl-text-color;
$input-font-size: $gl-font-size;
$font-family-sans-serif: $regular-font;
$font-family-monospace: $monospace-font;
$btn-line-height: 20px;
$table-accent-bg: $gray-light;
$table-border-color: $gray-100;
$card-border-color: $border-color;
$card-cap-bg: $gray-light !default;
$success: $green-500;
$info: $blue-500;
$warning: $orange-500;
$danger: $red-500;
$zindex-modal-backdrop: 1040;
$nav-divider-margin-y: ($grid-size / 2);
$dropdown-divider-bg: $gray-100;
$dropdown-item-padding-y: 8px;
$dropdown-item-padding-x: 12px;
$popover-max-width: 300px;
$popover-border-width: 1px;
$popover-border-color: $border-color;
$popover-box-shadow: 0 $border-radius-small $gl-border-radius-base 0 $shadow-color;
$popover-arrow-outer-color: $shadow-color;
$h1-font-size: 14px * 2.5;
$h2-font-size: 14px * 2;
$h3-font-size: 14px * 1.75;
$h4-font-size: 14px * 1.5;
$h5-font-size: 14px * 1.25;
$h6-font-size: 14px;
$headings-color: $gl-text-color;
$headings-font-weight: $gl-font-weight-bold;
$spacer: $grid-size;
$spacers: (
  0: 0,
  1: ($spacer * 0.5),
  2: ($spacer),
  3: ($spacer * 2),
  4: ($spacer * 3),
  5: ($spacer * 4),
  6: ($spacer * 5),
  7: ($spacer * 6),
  8: ($spacer * 7),
  9: ($spacer * 8)
);
$pagination-color: $gl-text-color;
$tooltip-padding-y: 0.5rem;
$tooltip-padding-x: 0.75rem;
$tooltip-arrow-height: 0.5rem;
$tooltip-arrow-width: 1rem;
